body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0;
    padding: 0;
}

body.no-overflow {
    overflow: hidden;
}

body .view {
    display: none;
}

body .view.active {
    display: block;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loader {
    width: 20px;
    height: 20px;
    background-image: url(loading.gif);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: relative;
    top: 5px;
    visibility: hidden;
}

.column {
    position: relative;
}

.column.left {
    float: left;
}

.column.right {
    margin-left: 45%;
}

#viewPresentationsList .column {
    padding: 15px;
    width: 45%;
}

#viewPresentationsList .column.left {
    position: absolute;
}

#viewPresentationsList .head {
    text-align: left;
    background-color: #000;
    color: #FFF;
    padding: 5px;
    padding-left: 5%;
}

#newPresentationInput .row{
    margin: 5px;
}

#pList {
    list-style: none;
}

#pList li {
    position: relative;
}

#pList li .noTextOverFlow {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#pList li:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: #000;
    display: block;
    position: absolute;
    left: -7px;
    top: 7px;
}

#pList .pName {
    cursor: pointer;
    padding: 5px;
    text-decoration: underline;
}

#pList .pName.new {
    color: rgb(0, 0, 255);
}

#viewPresentationList input{
    margin: 5px;
}

#viewPresentationShow .slide {
    display: inline-block;
    float: left;
    position: relative;

    margin: 0!important;
    padding: 0!important;
    overflow: hidden!important;
    height: inherit;
}

#viewPresentationShow .slideFromImage {
    text-align: center;
    background-color: #000;
}

#viewPresentationShow .slideFromImage table {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#viewPresentationShow .slideFromImage table tr {
    margin: 0;
    padding: 0;
}

#viewPresentationShow .slideFromImage table td {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#viewPresentationShow.hint #presentation {
    cursor: auto;
}

#presentation {
    margin: 0!important;
    padding: 0!important;
    height: 100%;
    width: inherit;
    position: absolute;
    cursor: none;
}

#presentation .slideImage {
    width: 100%;
    height: 100%;
}

#progressBar {
    background-color: rgba(150, 50, 50, .5);
    height: 3px; width: 100%;
    position: fixed;
    bottom: 0; left: 0;
    display: none;
}

#progress {
    height: inherit;
    background-color: rgb(255, 0, 0);
    width: 0;
}

#noPresentations {
    color: rgb(255, 0, 0);
}

#hint {
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;

    color: white;
    background-color: black;

    text-align: center;

    box-shadow: 0 0 10px rgba(250, 250, 250, .5);
}

#hint .controls span {
    padding: 5px;
    cursor: pointer;
    height: 100%;
    display: inline-block;
}

#hint select {
    padding: 5px;
}

#hint .column.left {
    width: 25%;
}

#hint .column.right {
    margin-left: 31%;
    width: 70%;
}

#hint .column {
    padding: 5px;
}

#hint .controls{
    text-align: left;
}

#hint table {
    padding: 10px;
    font-size: .9em;
    margin: 0 auto;
}

#hint table td.closeRow {
    text-align: center;
    padding: 10px;
}

#closeShowMode {
    text-decoration: underline;
}

#description .warn {
    color: red;
}

#description ul, #description ol {
    margin: auto;
}

#description .noteMark:before {
    content: '* ';
}